.saved-panel {
    background-color: #E6E6E6;
    height: 100%;
    width: 100%;
}

.saved-header {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: bold;
    background-color: #297373;
    width: 100%;
}

.saved-headline {
    padding: 10px;
}

.saved-url {
    padding: 10px;
    font-weight: 400;
}
.date-saved {
    font-family: 'Josefin Sans', sans-serif;
    padding-left: 35px;
    padding-bottom: 20px;
}

.saved-date {
    font-weight: 400;
    font-size: 20px;
}
