body {
    background-color: #39393A;
}

.header {
    width: 100%;
    height: 100%;
    padding: 50px;
    background-color: #39393A;
    background-size: 2000px 1000px;
    background-image: url("./images/news6.jpg");
    background-size: 100%;
}

.header-text {
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 2px 2px 2px #FF8552;
    font-weight: 700;
    line-height: 1;
    font-size: 90px;
    width: 100%;
    height: 100%;
    color: #39393A;
}

.divider-panel {
    background-color: #FF8552;
    height: 100%;
}

.divider {
    border-bottom: 2px solid #FF8552;
    width: 100%;
}

.divider-text {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    color: #39393A;
}

.search-text {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700 !important;
    font-size: 40px !important;
    padding-top: 15px;
    text-shadow: 2px 2px 2px #FF8552;
    padding-bottom: 10px;
}

.search-panel {
    width: 100%;
    margin-top: 50px;
    background-color: #E6E6E6;
}

.search-inputs {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

.results-header {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 5px;
    font-weight: bold;
    background-color: #297373;
    width: 100%;
}

.results-panel {
    background-color: #E6E6E6;
    height: 100%;
    width: 100%;
}
